In [0]:
from fastai import *
from fastai.text import *

In [0]:
path = untar_data(URLs.IMDB_SAMPLE)

In [9]:
path.ls()

[PosixPath('/root/.fastai/data/imdb_sample/texts.csv')]

In [0]:
df = pd.read_csv(path/'texts.csv')

In [11]:
df.head()

      label                                               text  is_valid
0  negative  Un-bleeping-believable! Meg Ryan doesn't even ...     False
1  positive  This is a extremely well-made film. The acting...     False
2  negative  Every once in a long while a movie will come a...     False
3  positive  Name just says it all. I watched this movie wi...     False
4  negative  This movie succeeds at being one of the most u...     False

In [0]:
data = TextDataBunch.from_csv(path, 'texts.csv')

The above did a few things:
* **Tokenization:** Lowercase the words, separate things like "weren't" into "were n't", change rare words to unknown tokens, and separate out punctuation from words.
* **Numericalization: ** This step converts the tokens to numbers by building a vocabulary. Then, each review is converted to a list of numbers.

More on this will be discussed later.